body {
    padding: 0;
    background-color: #fff;
}
h1 {
     font-size: 100px;
}
h2 {
    font-size: 80px;
}
h3 {
<<<<<<< HEAD
font-size: 40px;
}

=======
    font-size: 30px;
}
>>>>>>> c6ff51053843c37e0013c7b1451956414509e700
